@use '~/assets/sass/setting/mixin' as mixin;
@use 'sass:map';
@use "sass:math";

/* =======================
 width
======================= */

@for $width from 1 through 10 {
  .width-#{$width * 10} {
    width: 10% * $width;
  }
}

@for $width from 1 through 10 {
  .width-#{$width * 10}--sp {
    width: 10% * $width;

    @include mixin.sp-layout() {
      width: 100%;
    }
  }
}

/* =======================
 margin
======================= */

@for $marginBottom from 0 through 30 {
  .margin-bottom-#{$marginBottom * 5} {
    margin-bottom: 5px * $marginBottom !important;

    @include mixin.sp-layout() {
      margin-bottom: math.div( ((5px * $marginBottom) * 2), 3) !important;
    }
  }
}

/* =======================
 margin
======================= */

@for $fontSize from 1 through 10 {
  .font-size-#{$fontSize} {
    font-size: 1.0rem + (0.1 * $fontSize) !important;
  }
}

/* =======================
 margin
======================= */

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
