@use '~/assets/sass/setting/mixin' as mixin;
@use '~/assets/sass/setting/variable' as var;
@use 'sass:map';
@use "sass:math";

/* =======================
 width
======================= */

@for $width from 1 through 10 {
  .width-#{$width * 10} {
    width: 10% * $width;
  }
}

@for $width from 1 through 10 {
  .width-#{$width * 10}--sp {
    width: 10% * $width;

    @include mixin.sp-layout() {
      width: 100%;
    }
  }
}

/* =======================
 margin
======================= */

@for $marginBottom from 0 through 30 {
  .margin-bottom-#{$marginBottom * 5} {
    margin-bottom: 5px * $marginBottom !important;

    @include mixin.sp-layout() {
      margin-bottom: math.div( ((5px * $marginBottom) * 2), 3) !important;
    }
  }
}

/* =======================
 textAlign
======================= */

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

/* =======================
 contentsWrapper
======================= */

.wrapper- {
  &border, &bg, &border--attention {
    border-radius: 10px;
    padding: 20px;
  }

  &border {
    border: 1px solid map.get(var.$color, sub-thin);
  }

  &bg {
    background-color: #efefef;
  }

  &border--attention {
    border: 1px solid map.get(var.$color, _red);
  }
}
